---
layout: page
title: Slides
---
<section class="slides">  
{% for slideshow in site.slides %}
  <article>
    <h1 class="title"><a href="{{ slideshow.url | replace:'index.html','' | prepend: site.baseurl }}">{% if slideshow.subtitle %}{{ slideshow.subtitle }}{% else %}{{ slideshow.title }}{% endif %}</a></h1>
    <section class="slide"><div>
      <h2 class="title">
        <a href="{{ slideshow.url | replace:'index.html','' | prepend: site.baseurl }}">{{ slideshow.title }}</a>
      </h2>
      <p>{{ slideshow.date | date: "%b %-d, %Y" }} by {{slideshow.author}}</p>
      {{ slideshow.subcaption }}
    </div></section>
    <p>{{ slideshow.description }}</p>
  </article>
{% endfor %}
</section>